*{
  margin: 0;
  padding: 0;

}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Bangers";
  position: relative;
  z-index: -1;
  width: 100%;
  overflow-x: hidden;
}

main{
  width: 100%;
}

.bottom-padding{
  padding-bottom: 4em;
}

.top-padding{
  padding-top: 4em;
}



.heading h1{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: 100;
  font-size: 2em;
  letter-spacing: 3px;

}

.wrapper {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fluid {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}


.imggy {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix{
  clear: both;
  content: "";
}



/* navbar */

header{
      width: 100%;
      /* height: 100vh;
      background-color: #389583; */
      background-color: black;
      position: relative;

      z-index: -1;
      display: table;
      margin: 0;
      max-width: none;
}

header nav{

}

#full-page{
  position: relative;
  width: 100%;
  display: flex;
  align-items: baseline;
  place-content: center;
  list-style: none;
  z-index: 999;
  top: -30px;

}

#full-page li{
  margin: 1em;
  transition: ALL .3s ease;

}

#full-page li:nth-child(4){
  margin: 1em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #5cdb95;
  transition: all .3s ease;

}

#full-page li:hover{
  margin: 1em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #5cdb95;
  transition: all .3s ease;

}


#full-page li img{
  width: 50%;
      position: relative;
      left: 25%;
      top: 2rem;
}

#full-page li a{
  text-decoration: none;
    font-size: 1em;
    color: white;
    font-weight: 100;

}

.navigation{
  visibility: hidden;
  position: relative;
  z-index: 999;
  transition: all .5s ease;

}

#menu{
  list-style: none;
  margin: 0rem 1.7rem;
  margin-left:3rem;
      padding: 0rem;
      height: 0vh;
      z-index: 1000;


}


#menu li{
  width: 90%;
  position: relative;
  /* z-index: -1; */
  padding: 0.6rem;
  background-color: #0a3969;
  border-bottom-color: #389583;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 30px;
  float: left;

}

#menu li a{
  margin: 1rem;
  text-decoration: none;
  color: #389583;


}
.navigation button{
  position: absolute;
  top: -2px;
  right:0;
  z-index: 1;
  background-color: transparent;
  border: hidden;
  font-size: 2em;
  margin: 1em;
  margin-right: 1.5em;
  color: #5cdb95;
}

/* video */

.video-background{

}

.video-background:before{
  width: 100%;
  /* height: 25vh; */
  height: 135px;
  content: "";
  background-color: rgba(5, 57, 107, .9);;
  position: absolute;
  top: 0;
  z-index: 1;
  visibility: visible;

}

/* .video-background:after{
  width: 100%;
  height: 1000px;
  content: "";
  background-color: rgba(7, 55, 101, 0.32);
  position: absolute;
  bottom: -2px;
  z-index: -1;
  visibility: visible;

} */

.video-background video{
  width: 100%;
  /* height: 130vh; */ I changed here
  position: absolute;
  /* top: -136px; */
  top:0; /*I changed here*/
  z-index: -1;

}



/* header text */

.header-text h1{
  color: white;
      background-color: #5cdb95;
      text-align: center;
      position: absolute;
      top: 58%;
      left: 30%;
      transform: translate(-50%,-50%);
      padding: .5em;
      border-radius: 10px;
      font-size: 3vw;
      color: rgba(5, 57, 107, 1);
      box-shadow: 0 0 4px 0;
      letter-spacing: 3px;


}

.header-text h2{
      color: white;
      background-color: #5cdb95;
      text-align: center;
      position: absolute;
      top: 58%;
      left: 70%;
      transform: translate(-50%,-50%);
      padding: .5em;
      border-radius: 10px;
      font-size: 3vw;
      color: rgba(5, 57, 107, 1);
      box-shadow: 0 0 4px 0;
      letter-spacing: 3px;


}
.inner-desc{
  position: absolute;
  z-index: 999;
  top: 0px;
  width: 33%;
  right: 0%;
  transition: all .4s;
  display: block;

}

[alt="Play"] , [atl="Apple"]{
  display: block;
}




/* start genre section */

#genre{
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 119vh;
    background-color: #8de4af;



}

.whole-genres{


}

.genre-sections{
  width: 31.333%;
  display: inline-block;
  float: left;
  margin: 9px;


}

.genre-img{
  border-style: solid;
  border-width: 8px;
  height: 45vh;

  border-radius: 6px;
  background-color: transparent;


}



.genre-img:hover{
  border-style: solid;
  border-width: 8px;
  height: 45vh;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  background-color: #3f51b52e;


}

/* .genre-img:after{
  height: 45vh;
  border-radius: 6px;
  background-color: #3f51b52e;
  content: "";
  position: absolute;
  width: 100%;
  top: 2%;
  right: 2%;
  margin: -7px;
  z-index: 0;
  padding: 1px;




} */

.genre-img img{
  width: 100%;
  position: relative;
  top: 7%;
  z-index: 1;
}


.genre-img img:nth-child(1){
  width: 100%;
  position: relative;
  top: -3%;
  z-index: 1;
}

.genre-text{

}

.genre-text h2{
  font-size: 2em;
  font-weight: 100;
  padding-top: 2em;
  letter-spacing: 3px;


}

.genre-text p{
  letter-spacing: 1px;


}

/* start about section */

#about{
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 58vh;
  background-color: #2f5e4e;
}

.about-img{
  width: 50%;
  float: left;

}

.about-img img{
  width: 86%;
  border-style: solid;
  border-width: 21px;
  border-radius: 6px;

}

.about-text{
  width: 50%;
  float: left;
  position: relative;
  top: 3em;
}



.about-text h2{
  color: #f3eca0;
  font-weight: 100;
  padding-bottom: 1em;
  font-size: 2em;
  letter-spacing: 3px;

}

.about-text p{
  color: #f3eca0;
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 3em;



}


/* start features */

#features{
  background-image: url(../images/blossom.gif);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 58vh;

}

.features-text{
  margin: 10em;
  background-color: white;
  padding: 3em;
  border-radius: 12px;
  box-shadow: 0 0px 20px 0 #808080bf;
}

.features-text h1{
  text-align: center;
  padding-bottom: 2em;
  font-size: 2em;
  letter-spacing: 4px


}

.features-text p{
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;


}


/* companies start */

#companies{
  background-color: #8ee4af;
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 58vh;

}

.whole-companies{
  display: inline-block;
  margin: 6em;
  position: relative;
  right: -6%;

}

.single-company{
  width: 21.333%;
  float: left;
  margin: 4%;
  border-style: solid;
  border-width: 18px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
}

/* .single-company:nth-child(2){
  flex: 1;
  border-style: solid;
  padding: 13px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
  margin: 62px;
  border-width: 17px;
  border-radius: 6px;

} */

.single-company img{
  width: 100%;

}


/* start pricing */

.pricing{

}

.whole-pricing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-pricing{
  width: 26.333%;
  float: left;
  border-style: solid;
  margin-bottom: 10px;
  background-color: #8ee4af;
  box-sizing: border-box;
  margin: 23px;
  padding-bottom: 5em;
  border-width: 18px;
  border-radius: 5px;


}

.single-pricing:nth-child(2){
  flex: .8;
  border-style: solid;
  margin-bottom: 10px;
  background-color: #05386b;
  border-width: 18px;
  border-radius: 5px;
  color: #edf5e1;
  border-color: black;
  padding-bottom: 9em;



}

.type{
  text-align: center;

}

.type h1{
  font-size: 5em;
  font-weight: 100;
  padding-top: 1em;

}

.cost{
  text-align: center;


}

.cost h1{
  font-size: 8em;

}

.plan{
  text-align: center;


}

.plan h3{
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 3px;

}


/* MQS */

@media (max-width:1091px) {
  header{
    width: 100%;
        /* background-color: #389583; */
        background-color: black;

        position: relative;
        z-index: -1;
        display: table;
        margin: 0;
        max-width: none;
        /* height: 1vh; */
  }

}

@media (max-width:1140px) {
  /* .video-background:after{
    width: 100%;
    height: 30vh;
    content: "";
    background-color: rgba(5, 57, 107, 0.74);
    position: absolute;
    bottom: -2px;
    z-index: 1;
    visibility: hidden;

  } */

}



@media (max-width:992px) {
  .single-pricing:nth-child(2){
    flex: 1;
    border-style: solid;
    margin-bottom: 10px;
    background-color: #05386b;
    border-width: 18px;
    border-radius: 5px;
    color: #edf5e1;
    border-color: black;
    padding-bottom: 5em;



  }

  .single-pricing{
    width: 100%;
    float: left;

  }

  .whole-companies {
    display: inline-block;
    margin: 2em;
    position: relative;
    right: 4%;
}

  .single-company{
    width: 100%;
    float: left;
    border-style: solid;
    border-width: 18px;
    box-sizing: border-box;
    border-radius: 5px;
  }


  #full-page{
    position: relative;
    width: 100%;
    display: none;
    align-items: baseline;
    place-content: center;
    list-style: none;


  }

  .navigation{
    visibility: visible;
    position: relative;
    z-index: 999;
    transition: all .5s ease;
  }

  .whole-genres{

    margin: 5%;
  }

  .genre-sections{
    width: 100%;
    display: inline-block;
    float: left;
    margin: 9px;
    padding-bottom: 3em;
    height: 800px;
    margin-bottom: 20%;

  }

  .video-background:before{
    width: 100%;
    height: 25vh;
    content: "";
    background-color: rgba(5, 57, 107, .9);
    position: absolute;
    top: 0;
    z-index: 1;
    visibility: hidden;

  }


  /* .video-background:after{
    width: 100%;
    content: "";
    background-color: rgba(7, 55, 101, 0.32);
    position: absolute;
    bottom: -2px;
    z-index: -1;
    visibility: hidden;

  } */



  .about-img{
    width: 100%;
    float: left;

  }

  .about-text{
    width: 100%;
    float: left;
    position: relative;
    top: 3em;
  }

  .genre-img{
    border-style: solid;
    border-width: 8px;
    height: 66vh;
    border-radius: 6px;


  }

  .genre-img:hover{
    border-style: solid;
    border-width: 8px;
    height: 45vh;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    background-color: #3f51b52e;


  }

  .genre-img:after{
    height: 150vh;
    border-radius: 6px;
    /* background-color: #3f51b52e; */ /*ichanged here*/
    content: "";
    position: absolute;
    width: 100%;
    top: 2%;
    right: 2%;
    margin: -7px;
    z-index: 0;
    padding: 1px;

  }

}



@media (max-width:767px) {
  .features-text{
    margin: 5em;

  }
}



@media (max-width:500px) {
  .features-text{
    margin: 1em;

  }

  .genre-img{
    border-style: solid;
    border-width: 8px;
    height: 30vh;
    border-radius: 6px;


  }

  .genre-img:hover{
    border-style: solid;
    border-width: 8px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    height: 30vh;

  }


    .genre-sections{
      width: 100%;
      display: inline-block;
      float: left;
      margin: 9px;
      padding-bottom: 0em;
      height: max-content;


    }

    .genre-sections:nth-child(3){
      width: 100%;
      display: inline-block;
      float: left;
      margin: 9px;
      padding-bottom: 0em;
      height: max-content;
      padding-bottom: 5em;


    }


    .genre-img:after{
      height: 45vh;
      border-radius: 6px;
      /* background-color: #3f51b52e; */ /*i changed here*/
      content: "";
      position: absolute;
      width: 100%;
      top: 2%;
      right: 2%;
      margin: -7px;
      z-index: 0;
      padding: 1px;
    }



}
